<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/layout/footer.css' %}">
</head>
<body>
  <footer class="footer">
    <section class="footer-content">
      <p>&copy; 2025 MBO-Cinemas. Alle rechten voorbehouden.</p>
      <section class="extra-info">
        <p>Neem contact met ons op voor meer informatie!</p>
        <p>Email: <a href="mailto:info@mbo-cinemas.nl">info@mbo-cinemas.nl</a></p>
      </section>
    </section>
  </footer>
</body>
</html>
