        .material-icons {
            font-size: 24px;
            color: #111;
        }

        .dashboard {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin: 15px;
        }

        .card {
            width: 100%;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
            background: linear-gradient(120deg, rgba(0, 121, 255, 0.68), rgba(255, 255, 255, 0.3));
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
        }

        .card h3 {
            color: #111;
            font-size: 1.5rem;
            text-align: center;
            margin: 10px;
        }

        .card p {
            color: #111;
            text-align: center;
            margin: 5px 0;
        }

        .profile-image {
            width: 120px;
            height: 120px;
            border-radius: 10%;
            overflow: hidden;
            margin-bottom: 20px;
        }

        .profile-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .button_container {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        button {
            margin: 5px 0;
            padding: 12px 20px;
            font-size: 16px;
            color: #111;
            background-color: rgba(0, 121, 255, 0.8);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button span {
            margin-right: 10px;
        }

        button:hover {
            background-color: rgba(0, 121, 255, 1);
        }

        .submit_button {
            width: calc(110% - 100px);
        }

@media (max-width: 900px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: block;
        margin: 10px auto;
    }

    .card {
        width: 98%;
        max-width: 800px;
        margin: 10px auto;
    }
}


.chart-container {
    width: 100%;
    height: 250px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #111;
}

.card ul li ul {
    padding-left: 20px;
    list-style-type: circle;
}

.card ul li ul li {
    font-size: 1rem;
    color: white;
}



.profile-image {
    position: relative;
    z-index: 1;
}