<!DOCTYPE html>
<html lang="nl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bekijk de nieuwste films in onze bioscoop.">
    <meta name="keywords" content="bioscoop, films, genre, tickets">
    <meta name="author" content="Thijs Stekelenburg">
    <title>Bioscoop - Films</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/page_componenten/film_list.css' %}">
</head>

<body>

{% include 'componenten/navbar.html' %}

<header class="header">
    <h1>Onze Films</h1>
</header>

<main class="container">
    <aside class="filters">
        <h2>Filters</h2>
        <form method="GET" action="{% url 'film_list' %}">
            <label for="locatie">Locatie</label>
            <div class="checkbox-group">
                {% for locatie in locations %}
                    <label>
                        <input type="checkbox" name="locatie[]" value="{{ locatie.name }}" {% if locatie.name in locatie_filter %}checked{% endif %}> {{ locatie.name }}
                    </label>
                {% endfor %}
            </div>

            <label for="genre">Genre</label>
           <select name="genre" id="genre">
                <option value="">-- Selecteer een genre --</option>
                <option value="avontuur" {% if request.GET.genre == "avontuur" %}selected{% endif %}>Avontuur</option>
                <option value="animatie" {% if request.GET.genre == "animatie" %}selected{% endif %}>Animatie</option>
                <option value="biografie" {% if request.GET.genre == "biografie" %}selected{% endif %}>Biografie</option>
                <option value="komedie" {% if request.GET.genre == "komedie" %}selected{% endif %}>Komedie</option>
                <option value="drama" {% if request.GET.genre == "drama" %}selected{% endif %}>Drama</option>
                <option value="horror" {% if request.GET.genre == "horror" %}selected{% endif %}>Horror</option>
                <option value="mysterie" {% if request.GET.genre == "mysterie" %}selected{% endif %}>Mysterie</option>
                <option value="romantiek" {% if request.GET.genre == "romantiek" %}selected{% endif %}>Romantiek</option>
                <option value="sciencefiction" {% if request.GET.genre == "sciencefiction" %}selected{% endif %}>Sciencefiction</option>
                <option value="fantasie" {% if request.GET.genre == "fantasie" %}selected{% endif %}>Fantasie</option>
                <option value="thriller" {% if request.GET.genre == "thriller" %}selected{% endif %}>Thriller</option>
                <option value="documentaire" {% if request.GET.genre == "documentaire" %}selected{% endif %}>Documentaire</option>
                <option value="misdaad" {% if request.GET.genre == "misdaad" %}selected{% endif %}>Misdaad</option>
                <option value="familie" {% if request.GET.genre == "familie" %}selected{% endif %}>Familie</option>
                <option value="historisch" {% if request.GET.genre == "historisch" %}selected{% endif %}>Historisch</option>
                <option value="musical" {% if request.GET.genre == "musical" %}selected{% endif %}>Musical</option>
                <option value="westerns" {% if request.GET.genre == "westerns" %}selected{% endif %}>Western</option>
                <option value="kortfilm" {% if request.GET.genre == "kortfilm" %}selected{% endif %}>Kortfilm</option>
            </select>

            <label for="min_leeftijd">Minimale Leeftijd</label>
            <input type="number" name="min_leeftijd" id="min_leeftijd" placeholder="leeftijd..." value="{{ request.GET.min_leeftijd }}">

            <label for="film_naam">Zoek op Film Naam</label>
            <input type="text" name="film_naam" id="film_naam" value="{{ request.GET.film_naam }}" placeholder="Film naam...">

            <button type="submit" class="apply">Toepassen</button>
            <button type="button" class="reset" onclick="window.location.href = '{% url 'film_list' %}'">Reset Filters</button>
        </form>
    </aside>

    <section class="movie-grid">
        {% for film in films %}
            <article class="movie-card">
                <img src="{{ film.afbeelding.url }}" alt="{{ film.title }}">
                <section class="details">
                    <h3>{{ film.title }}</h3>
                    <p>{{ film.genre }}</p>
                    <p>{{ film.beschrijving|truncatewords:20 }}</p>
                    <a href="{% url 'film_detail' film.id %}">Lees meer / reserveer</a>
                </section>
            </article>
        {% endfor %}
    </section>
</main>

{% include 'componenten/footer.html' %}

</body>
</html>
